In [1]:
import numpy as np
import pandas as pd

# Department of Homeland Security
## U.S. Customs and Border Protection

**I-94 travel history includes up to 100 arrivals and departures spanning the last ten years.**

The data analysed here was obtained from the official website of the U.S. Department of Homeland Security by following the steps shown [here](https://i94.cbp.dhs.gov/help#How-to-Access-and-Print-Your-Form-I-94-Arrival-Departure-Record-using-an-A-Number-Alien-Registration-Number).


* File: OMB No. 1651-0111 
* Expiration Date: 03/31/2025
* Admission I-94 Record Number: 428722095A4
* Arrival/Issued Date: 2025 March 05
* Class of Admission: B2
* Admit Until Date: 2025 September 04


Details provided on the I-94 Information form:

* Last/Surname: FUENTES LEON
* First (Given) Name: ADRIANA
* Birth Date: 1971 October 09
* Document Number: N01856008
* Country of Citizenship: Mexico

**The reader may want to read the [Understanding the I-94 Arrival/Departure Record](https://internationaloffice.berkeley.edu/immigration/i94) guide provided by Berkeley International Office**

In [2]:
! ls data

'I-94 Official Website - View Travel History Response.pdf'   travel_history.csv

In [3]:
# This is the .csv file version for the "I-94 Official Website - View Travel History Response.pdf" document.
df = pd.read_csv("data/travel_history.csv")

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
    print(df)

          Date       Type Location
0   2025-03-20  Departure      SNA
1   2025-03-05    Arrival      SNA
2   2024-12-15  Departure      SNA
3   2024-11-25    Arrival      SNA
4   2024-11-02  Departure      SNA
5   2024-10-11    Arrival      ARU
6   2024-10-06  Departure      MIA
7   2024-10-05    Arrival      SNA
8   2024-08-06  Departure      SNA
9   2024-08-03    Arrival      SNA
10  2024-03-11  Departure      SNA
11  2024-03-09    Arrival      SNA
12  2024-01-01  Departure      SNA
13  2023-12-29    Arrival      SNA
14  2023-07-10  Departure      SNA
15  2023-06-10    Arrival      SNA
16  2023-05-30  Departure      SNA
17  2023-05-05    Arrival      SNA
18  2022-12-21  Departure      SNA
19  2022-12-19    Arrival      SNA
20  2022-08-01  Departure      SNA
21  2022-07-10    Arrival      SNA
22  2022-02-16  Departure      SNA
23  2022-02-09    Arrival      SNA
24  2021-10-28  Departure      SNA
25  2021-10-19    Arrival      SNA
26  2021-09-11  Departure      SNA
27  2021-08-26    Arrival      SNA
28  2021-08-13  Departure      SNA
29  2021-08-02    Arrival      SNA
30  2021-05-21  Departure      SNA
31  2021-05-17    Arrival      HOU
32  2021-05-11  Departure      SNA
33  2021-04-30    Arrival      HOU
34  2021-04-25  Departure      HOU
35  2021-04-15    Arrival      SNA
36  2021-01-01  Departure      SNA
37  2020-12-17    Arrival      SNA
38  2020-01-24    Arrival      DAL
39  2020-01-14  Departure      DAL
40  2019-12-14    Arrival      HOU
41  2019-12-09  Departure      SNA
42  2019-11-19    Arrival      HOU
43  2019-11-10  Departure      SNA
44  2019-08-23    Arrival      HOU
45  2019-07-16  Departure      HOU
46  2019-06-24    Arrival      HOU
47  2019-05-21  Departure      ATL
48  2019-04-21    Arrival      HOU
49  2019-04-06  Departure      HOU
50  2019-01-30    Arrival      HOU
51  2019-01-10  Departure      ATL
52  2018-12-23    Arrival      RBB
53  2018-12-22  Departure      410
54  2018-06-27    Arrival      LLB
55  2018-05-06  Departure      SNA
56  2018-04-29    Arrival      SNA
57  2018-04-07    Arrival      OTM
58  2018-04-06    Arrival      SYS
59  2018-03-30    Arrival      OTM
60  2018-03-26    Arrival      OTM
61  2018-03-22  Departure      LOS
62  2018-03-14    Arrival      LOS
63  2017-12-29    Arrival      OTM
64  2017-12-26    Arrival      SYS
65  2017-12-25    Arrival      OTM
66  2017-12-18    Arrival      OTM
67  2017-12-17    Arrival      OTM
68  2017-10-08    Arrival      OTM
69  2017-09-17    Arrival      OTM
70  2017-09-13    Arrival      OTM
71  2017-09-10    Arrival      OTM
72  2017-08-30    Arrival      OTM
73  2017-08-26    Arrival      OTM
74  2017-08-23    Arrival      OTM
75  2017-08-19    Arrival      OTM
76  2016-10-23  Departure      SNA
77  2016-10-16    Arrival      SNA

In [4]:
# Breaking up date information
df["year"] = df["Date"].apply(lambda x: x.split("-")[0]).astype(int)
df["month"] = df["Date"].apply(lambda x: x.split("-")[1]).astype(int)
df["day"] = df["Date"].apply(lambda x: x.split("-")[2]).astype(int)

In [5]:
df[df["Location"].isin(["410"])]

          Date       Type Location  year  month  day
53  2018-12-22  Departure      410  2018     12   22

In [6]:
# Adding complete name to Location
# IMPORTANT: the three-letter code is not a reference of the standard Airport code.
# These are the 9 FAM 102.5-1  Visa-Issuing Post Symbols
# https://fam.state.gov/fam/09FAM/09FAM010205.html?
df["Location"].unique()

array(['SNA', 'ARU', 'MIA', 'HOU', 'DAL', 'ATL', 'RBB', '410', 'LLB',
       'OTM', 'SYS', 'LOS'], dtype=object)

In [7]:

location_info = {
    "SNA": {"state or country":"TX", "city": "San Antonio"},
    "ARU": {"state or country":"ARUBA", "city": "Oranjestad"},
    "MIA": {"state or country":"FL", "city": "Miami"},
    "HOU": {"state or country":"TX", "city": "Houston"},
    "DAL": {"state or country":"TX", "city": "Dallas"},
    "ATL": {"state or country":"GA", "city": "Atlanta"},
    "RBB": {"state or country":"NY", "city": "Niagara Falls, Rainbow Bridge"},
    "410": {"state or country":"CANADA", "city": "Niagara Falls"},
    "LLB": {"state or country":"TX", "city": "Laredo Juarez-Lincoln Bridge 2"},
    "OTM": {"state or country":"CA", "city": "Otay Mesa POE"},
    "SYS": {"state or country":"CA", "city": "San Ysidro"}, 
    "LOS": {"state or country":"CA", "city": "Los Angeles"},
}

In [8]:
df["state or country"] = df["Location"].map(location_info).apply(lambda x: x['state or country'])
df["city"] = df["Location"].map(location_info).apply(lambda x: x['city'])

In [9]:
df

,Date,Type,Location,year,month,day,state or country,city
0,2025-03-20,Departure,SNA,2025,3,20,TX,San Antonio
1,2025-03-05,Arrival,SNA,2025,3,5,TX,San Antonio
2,2024-12-15,Departure,SNA,2024,12,15,TX,San Antonio
3,2024-11-25,Arrival,SNA,2024,11,25,TX,San Antonio
4,2024-11-02,Departure,SNA,2024,11,2,TX,San Antonio
...,...,...,...,...,...,...,...,...
73,2017-08-26,Arrival,OTM,2017,8,26,CA,Otay Mesa POE
74,2017-08-23,Arrival,OTM,2017,8,23,CA,Otay Mesa POE
75,2017-08-19,Arrival,OTM,2017,8,19,CA,Otay Mesa POE
76,2016-10-23,Departure,SNA,2016,10,23,TX,San Antonio
77,2016-10-16,Arrival,SNA,2016,10,16,TX,San Antonio

### Investigating after 22/09/2022

In [10]:
df = df[(df["year"] > 2021)]
df = df[~df["Date"].isin(["2022-08-01", "2022-07-10", "2022-02-16", "2022-02-09"])]
df

,Date,Type,Location,year,month,day,state or country,city
0,2025-03-20,Departure,SNA,2025,3,20,TX,San Antonio
1,2025-03-05,Arrival,SNA,2025,3,5,TX,San Antonio
2,2024-12-15,Departure,SNA,2024,12,15,TX,San Antonio
3,2024-11-25,Arrival,SNA,2024,11,25,TX,San Antonio
4,2024-11-02,Departure,SNA,2024,11,2,TX,San Antonio
5,2024-10-11,Arrival,ARU,2024,10,11,ARUBA,Oranjestad
6,2024-10-06,Departure,MIA,2024,10,6,FL,Miami
7,2024-10-05,Arrival,SNA,2024,10,5,TX,San Antonio
8,2024-08-06,Departure,SNA,2024,8,6,TX,San Antonio
9,2024-08-03,Arrival,SNA,2024,8,3,TX,San Antonio
10,2024-03-11,Departure,SNA,2024,3,11,TX,San Antonio
11,2024-03-09,Arrival,SNA,2024,3,9,TX,San Antonio
12,2024-01-01,Departure,SNA,2024,1,1,TX,San Antonio
13,2023-12-29,Arrival,SNA,2023,12,29,TX,San Antonio
14,2023-07-10,Departure,SNA,2023,7,10,TX,San Antonio
15,2023-06-10,Arrival,SNA,2023,6,10,TX,San Antonio
16,2023-05-30,Departure,SNA,2023,5,30,TX,San Antonio
17,2023-05-05,Arrival,SNA,2023,5,5,TX,San Antonio
18,2022-12-21,Departure,SNA,2022,12,21,TX,San Antonio
19,2022-12-19,Arrival,SNA,2022,12,19,TX,San Antonio

In [11]:
arrivals = df[df["Type"].isin(["Arrival"])]
departures = df[df["Type"].isin(["Departure"])]

In [12]:
len(arrivals), len(departures)

(10, 10)

In [13]:
arrival_dates = pd.to_datetime(arrivals["Date"], format="%Y-%m-%d").reset_index(drop=True)
departure_dates = pd.to_datetime(departures["Date"], format="%Y-%m-%d").reset_index(drop=True)

stays = pd.DataFrame({
    'arrival': arrival_dates,
    'departure': departure_dates
})

# Calculate length of stay
stays['stay_duration'] = (stays['departure'] - stays['arrival']).dt.days

In [14]:
stays

     arrival  departure  stay_duration
0 2025-03-05 2025-03-20             15
1 2024-11-25 2024-12-15             20
2 2024-10-11 2024-11-02             22
3 2024-10-05 2024-10-06              1
4 2024-08-03 2024-08-06              3
5 2024-03-09 2024-03-11              2
6 2023-12-29 2024-01-01              3
7 2023-06-10 2023-07-10             30
8 2023-05-05 2023-05-30             25
9 2022-12-19 2022-12-21              2

In [15]:
stays["stay_duration"].sum()

np.int64(123)